<div class="connect-widget">
  <ul class="connect-links fa-ul">
    <li><i class="fa-li fas fa-question-circle"></i><a href="https://github.com/kossiitkgp/docs/issues/new?assignees=&labels=question&template=question.md&title=%5BQuery%5D" target="_blank">Ask questions</a></li>
    <li><i class="fa-li fas fa-edit"></i><a href="https://github.com/kossiitkgp/{{replace .Page.File.Path "docs/" "docs/blob/master/" }}">Edit this page</a></li>
    <li><i class="fa-li fas fa-plus"></i><a href="https://github.com/kossiitkgp/docs/blob/master/.github/CONTRIBUTING.md">Create new page</a></li>
  </ul>
</div>
