.blur-illustration {
  background-image: url("/img/KOSS_flat_dark-blur.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

html, body, .home-section {
  height: 100%;
  /* margin-top: 30vh; */
}

.home-section .container, .home-section .row {
  height: 90%;
}

.home-section .section-heading {
  max-width: 40%;
  margin: auto;
}